@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("../../public/Roboto/static/Roboto-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 1;
}

body {
    background-color: #171919;
}

.container {
    width: 1170px;
    margin: 0 auto;
}